$colorInput: #FEF65B;

$colorInputSencillo: #ffdc7a;
$colorBordeInputSencillo: #fa5312;

$colorInputValido: #A0DB8E;
$colorBordeInputValido: #008000;

$colorInputInvalido: #FF4444;
$colorBordeInputInvalido: #990000;
